html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #f0f0f0;
}

.container {
  width: 700px;
  margin: 10px auto;
}

.ui.header .img {
  display: inline-block;
  vertical-align: baseline;
}

.right.floated {
  float: right;
}

.hint {
  font-size: .75em;
  color: #888;
}