<div class="row">
  <div class="ui inverted menu">
    <a class="item">
      <i class="book icon"></i> Booknecting
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      <a href="#" class="ui inverted item signup" data-content="Hello. This is an inverted popup" data-variation="inverted">
        Sign Up
      </a>
    </div>
  </div>
</div>